{% extends "base.html" %}

{% block body %}

    <div style="background-color: #5077BB; color: white; font-size: 120%;
                border-radius: 10px; width:72%; padding:15px;
                margin-bottom:25px;">
        <img src="{% static '/images_uitvoeringen/160523.jpg' %}"
             alt="poster" width="210" height="140" />
        <p>
            Wij willen je uitnodigen voor ons concert op zaterdagmiddag 23 april 15:00 uur in <a
            style="color: #111" href="http://www.pknodijk.nl/index.php" target="_blank">"het Witte
            Kerkje"</a>, Zeisterweg 34 in Odijk.
        <p>   
            <strong>CHANSONS D'UN REVE</strong>, liederen uit de Romantiek.
        <p>   
            <strong>Programma</strong>:
        </p>

        <ul>
            <li>Liszt: Hymne de l’enfant á son reveil
            <li>Schubert: Ständchen			            
            <li>Intermezzo op piano en harmonium
            <li><em>Pauze</em>
            <li>Arensky: Flower garden       		 	
            <li>Fauré: Cantique de Jean Racine 
            <li>d’Indy: Sainte Marie Magdalène 		        
        </ul>

        <p>   
            <strong>Medewerkenden</strong>:<br>
            Vrouwenkoor Unlimited o.l.v. Rob Holleman<br>
            Inge Schultinga, mezzo sopraan<br>
            Erik-Jan Eradus, harmonium<br>
            Jolanda Aarts, piano en celesta<br>
            Rob Holleman, harmonium<br>
        <p>   
            Tussen de liederen worden passende gedichten gelezen door<br> 
            Serena van de Langenberg, voordrachtskunstenaar 
        </p>
    </div>
        <p>
        LAATSTE NIEUWS: 18 mei start KERSTPROJECT<br> 
        <li>Kom samen met ons kerstliederen repeteren
        <li>Half december uitvoering in Houten!
        <li>Start: woensdagavond 18 mei 20:00 uur
        <li>Kosten: 50 euro
        <li>Aanmelden bij Nelleke Teuling: 06-23061695
        
        <p>  
    
    <div style="clear: both;"></div>


    <h2>Vrouwenkoor UNLIMITED // Houten</h2>

    <p>
        Vrouwenkoor UNLIMITED uit Houten is opgericht in 1988. Het koor
        bestaat uit enthousiast zingende sopranen, mezzosopranen en
        alten, waardoor het mogelijk is meerstemmige muziek ten gehore
        te brengen. Het repertoire, in diverse talen, is gevarieerd en
        bestaat voornamelijk uit wereldlijke muziek uit de 19e en 20e
        eeuw. Een enkele keer zingt het koor geestelijke liederen.
    </p>
    
    <p>
        Het koor wordt momenteel door Rob Holleman gedirigeerd. Samen
        met de dirigent wordt gestreefd naar verbeteringen van de
        kwaliteit. Tijdens de wekelijkse repetities, op woensdagavond,
        wordt aandacht besteed aan ademhaling, houding, stemvorming,
        dynamiek en het verbeteren van de koorklank.
    </p>
    
    <p>
        Spreekt dit je aan en lijkt het je leuk om deel uit te maken van
        ons koor, kijk dan hier voor meer informatie: <a
        href="./lidmaatschap.html">Lidmaatschap</a><br>
        Of bel voor informatie met Nelleke Teuling, tel: 06-23061695.<br>
        We zijn nog op zoek naar nieuwe leden.
    </p>

    <p>
        Lees de laatste nieuwtjes via <a
        href="https://www.facebook.com/VrouwenkoorUnlimited"
        target="_blank">onze Facebook pagina</a>.
    </p>

    <h4>Repetitie ruimte:</h4>

    <p>
        Wereldwijs Houten<br>
        Guldenslag 131<br>
        3991 WE Houten
    </p>

    <p>
        E-mail: <a href="mailto:vrouwenkoorunlimited@gmail.com">vrouwenkoorunlimited@gmail.com</a>
    </p>

{% endblock %}
