{% extends "base.html" %}

{% block title %}{{ block.super }}{% endblock %}

{% block body %}

    <h3>LAATSTE NIEUWS: 18 mei start KERSTPROJECT</h3>

    <ul>
        <li>Kom samen met ons kerstliederen repeteren
        <li>Half december uitvoering in Houten!
        <li>Start: woensdagavond 18 mei 20:00 uur
        <li>Kosten: 50 euro
        <li>Aanmelden bij Nelleke Teuling: 06-23061695
    </ul>

    <h3>Kerstrepertoire</h3>

    <p>
        RING THE BELLS
    </p>
    <ul>
        <li>Alan Bullard
        <li>3-st. vr. koor met begeleiding  (modern klassiek)
    </ul>

    <p>
        I WISH IT COULD BE CHRISTMAS EVERY DAY
    </p>
    <ul>
        <li>Roy Wood / Ben Parry
        <li>3-st. vr. koor met begeleiding  (pop)
    </ul>

    <p>
        O SALICH HEYLICH BETHELEEM
    </p>
    <ul>
        <li>arr. J. Schrijvers
        <li>oud-NL kerstlied, 3-st. a capella (renaissance-stijl)
    </ul>

    <p>
        GAUDETE
    </p>
    <ul>
        <li>uit de Piae Cantiones
        <li>4-st. a capella (late Middeleeuwen)
    </ul>

    <p>
        THE DIVINE IMAGE
    </p>
    <ul>
        <li>Rikuya Terashima
        <li>3-st. vr. k. met piano (modern klassiek, Japan)
    </ul>

    <p>
        KERSTDOZIJNTJE
    </p>
    <p>
        3. Kerstnacht<br>
		4. Maria's wiegelied<br>
		5. Wat de engeltjes elkaar<br>
    </p>
    <ul>
		<li>tekst/muz.: Zuster M.
		<li>2-st. vr. koor met piano (romantisch, uit oma’s tijd)
    </ul>


    <h2>Vrouwenkoor UNLIMITED // Houten</h2>

    <p>
        Vrouwenkoor UNLIMITED uit Houten is opgericht in 1988. Het koor
        bestaat uit enthousiast zingende sopranen, mezzosopranen en
        alten, waardoor het mogelijk is meerstemmige muziek ten gehore
        te brengen. Het repertoire, in diverse talen, is gevarieerd en
        bestaat voornamelijk uit wereldlijke muziek uit de 19e en 20e
        eeuw. Een enkele keer zingt het koor geestelijke liederen.
    </p>

    <p>
        Het koor wordt momenteel door Rob Holleman gedirigeerd. Samen
        met de dirigent wordt gestreefd naar verbeteringen van de
        kwaliteit. Tijdens de wekelijkse repetities, op woensdagavond,
        wordt aandacht besteed aan ademhaling, houding, stemvorming,
        dynamiek en het verbeteren van de koorklank.
    </p>

    <p>
        Spreekt dit je aan en lijkt het je leuk om deel uit te maken van
        ons koor, kijk dan hier voor meer informatie: <a
        href="./lidmaatschap.html">Lidmaatschap</a><br>
        Of bel voor informatie met Nelleke Teuling, tel: 06-23061695.<br>
        We zijn nog op zoek naar nieuwe leden.
    </p>

    <p>
        Lees de laatste nieuwtjes via <a
        href="https://www.facebook.com/VrouwenkoorUnlimited"
        target="_blank">onze Facebook pagina</a>.
    </p>

    <h4>Repetitie ruimte:</h4>

    <p>
        Wereldwijs Houten<br>
        Guldenslag 131<br>
        3991 WE Houten
    </p>

    <p>
        E-mail: <a href="mailto:vrouwenkoorunlimited@gmail.com">vrouwenkoorunlimited@gmail.com</a>
    </p>

{% endblock %}
