{% extends "base.html" %}

{% block body %}

    <div style="float:left; background-color: #E6E0AE; border-radius: 10px; width:66%; padding:15px; margin-bottom:25px;">
        <h2 style="text-align:center;">Zin om te zingen in Houten?</h2>

        <p>
            Vrouwenkoor Unlimited heeft plaats voor nieuwe leden!
            Kom meedoen tijdens de open repetitie op woensdag 14 oktober.
        </p>
    
        <p>
            Datum: <b>woensdag 14 oktober 2015</b><br>
            Tijd: <b>20:00 tot 22:00 uur</b><br>
            Locatie: <a href="https://www.google.nl/maps/place/Guldenslag+131,+3991+WE+Houten" target="_blank">Basisschool Wereldwijs, Guldenslag 131, Houten</a>
        </p>

        <h3>Aanmelden</h3>

        <p>
            bel naar: 06 524 611 91<br>
            of per mail: vrouwenkoorunlimited@gmail.com
        </p>
    </div>

    <div style="clear: both;"></div>

    <h2>Vrouwenkoor Unlimited // Houten</h2>

    <p>
        Vrouwenkoor UNLIMITED uit Houten is opgericht in 1988. Het koor
        bestaat uit enthousiast zingende sopranen, mezzosopranen en
        alten, waardoor het mogelijk is meerstemmige muziek ten gehore
        te brengen. Het repertoire, in diverse talen, is gevarieerd en
        bestaat voornamelijk uit wereldlijke muziek uit de 19e en 20e
        eeuw. Een enkele keer zingt het koor geestelijke liederen.
    </p>
    
    <p>
        Het koor wordt momenteel door Rob Holleman gedirigeerd. Samen
        met de dirigent wordt gestreefd naar verbeteringen van de
        kwaliteit. Tijdens de wekelijkse repetities, op woensdagavond,
        wordt aandacht besteed aan ademhaling, houding, stemvorming,
        dynamiek en het verbeteren van de koorklank.
    </p>
    
    <p>
        Spreekt dit je aan en lijkt het je leuk om deel uit te maken van
        ons koor, kijk dan hier voor meer informatie: <a
        href="./lidmaatschap.html">Lidmaatschap</a><br>
        Of bel voor informatie met Mieke Knibbe, tel: 0652461191.<br>
        Lees de laatste nieuwtjes via <a
        href="https://www.facebook.com/VrouwenkoorUnlimited"
        target="_blank">onze Facebook pagina</a>.
    </p>

    <h4>Repetitie ruimte:</h4>

    <p>
        Wereldwijs Houten<br>
        Guldenslag 131<br>
        3991 WE Houten
    </p>

    <p>
        Telefoon: 030-6380885<br>
        E-mail: <a href="mailto:vrouwenkoorunlimited@gmail.com">vrouwenkoorunlimited@gmail.com</a>
    </p>

{% endblock %}
