{% extends "base.html" %}

{% block title %}{{ block.super }} : Geschiedenis van het koor{% endblock %}

{% block body %}

    <h2>Geschiedenis van het koor</h2>
    <p>



    <p>
        &ldquo;Zin om te zingen?&rdquo; Dit was in april 1988 een eerste
        aanzet voor Yvonne Stens om een Vrouwenkoor te formeren. In
        september 1988, na 18 aanmeldingen van vrouwen die zich hierdoor
        aangesproken voelden, was het dan zo ver: er kon gezongen
        worden. 
    <p>
        Wekelijks werd er enthousiast gerepeteerd en in juni
        1989 debuteerde het koor in de kloostergang van de Domkerk te
        Utrecht. 
    <p>
        Vanaf september 1998 kreeg het koor een nieuwe
        dirigent: Itamar Lapid.  
    <p>
        Hij heeft in februari 2002 het dirigeerstokje overgedragen aan Hans Leeuwenhage. 
        
    <p>
        Van april 2009 t/m december 2011 was Astrid Bleys dirigent van het koor. 
    <p>
        Vanaf januari 2012 zwaait Rob Holleman het dirigeerstokje. 
        Na het overlijden van Rob in april 2017 is besloten het koor op te heffen. 
    </p>

  

{% endblock %}
