{% extends "base.html" %}

{% block title %}{{ block.super }} : Algemene informatie{% endblock %}

{% block body %}

    <h2>Algemene Informatie</h2>

    <br><img class="line" src="{% static '/static/images/line_blue.png' %}" alt="" height="1" width="620" /><br>

    <b>Index:</b><br>
    » <a href="#geschiedenis">Geschiedenis van het koor</a><br>
    » <a href="#dirigent">De dirigent</a><br>
    » <a href="#bestuur">Bestuur en taken</a><br>
    » <a href="#repetities">De repetities</a><br>
    » <a href="#inzingen">Inzingen</a><br>
    » <a href="#repetoire">Repetoire</a><br>
    » <a href="#optredens">Optredens</a><br>

    <br><img class="line" src="{% static '/static/images/line_blue.png' %}" alt="" height="1" width="620" /><br>

    <h4 id="geschiedenis">Geschiedenis van het koor</h4>

    <p>
        &ldquo;Zin om te zingen?&rdquo; Dit was in april 1988 een eerste
        aanzet voor Yvonne Stens om een Vrouwenkoor te formeren. In
        september 1988, na 18 aanmeldingen van vrouwen die zich hierdoor
        aangesproken voelden, was het dan zo ver: er kon gezongen
        worden. Wekelijks werd er enthousiast gerepeteerd en in juni
        1989 debuteerde het koor in de kloostergang van de Domkerk te
        Utrecht. Vanaf september 1998 kreeg het koor een nieuwe
        dirigent: Itamar Lapid. Na tien jaar een vrouwelijke dirigent
        gehad te hebben, was er enige twijfel of het wel paste: een man
        voor een vrouwenkoor, maar al snel waren de koorleden daar aan
        gewend. Itamar studeerde koordirectie in Jeruzalem en kwam in
        1993 naar Nederland om zijn studie voort te zetten aan het
        Utrechts Conservatorium. Hij heeft in februari 2002 het
        dirigeerstokje overgedragen aan Hans Leeuwenhage. Van april 2009
        t/m december 2011 was Astrid Bleys dirigent van het koor. Vanaf
        januari 2012 zwaait Rob Holleman het dirigeerstokje. Het aantal
        koorleden schommelt de laatste jaren tussen de vijfentwintig en
        dertig leden.
    </p>

    <h4 id="dirigent">De dirigent - Rob Holleman</h4>

    <p>
        Rob Holleman (1963) studeerde aan de conservatoria van Amsterdam
        en Utrecht, alwaar hij zich bekwaamde als pianist, organist,
        kerkmusicus, koordirigent en beiaardier. Docenten waren o.a.
        Hans Dercksen, Jan Huizing, Daan Manneke, Paul van Nevel,
        Maurice Pirenne, Jan Raas, Charles de Wolff, Kees van Houten,
        Willem Tanke en Krijn Koetsveld. Daarna behaalde hij aan het
        toenmalige SNK de diploma's 'Docentschap koristenopleiding' en
        'Dirigent voor koor en instrumentale ensembles'. Aan het dr.
        Gehrelsinstituut behaalde hij het diploma voor docent A.M.V. Hij
        volgde tweemaal de Kurt Thomascursus en diverse studiedagen voor
        kinderkoor, koordirectie, orgelinterpretatie en
        -improvisatie.
    </p>

    <p>
        Als musicus is Rob Holleman sinds 1979 actief als docent,
        leider, begeleider en uitvoerder. Grote voorliefde van Holleman
        is componeren van gelegenheidsmuziek, zowel liturgisch als
        wereldlijk zoals een Marcus passie voor kamerkoor en orgel. Het
        totale aantal composities en bewerkingen of zettingen is
        inmiddels de 100 gepasseerd. Rob componeert ook in opdracht voor
        bijv. de NSGV.
    </p>

    <p>
        Als kerkmusicus is hij werkzaam als rector-cantus aan de H.
        Fransiscus Xaveriuskerk te Amersfoort  alwaar hij drie
        koorgroepen leidt.  Tijdens het Nationaal Korenfestival te
        Rotterdam haalde hij met een voormalige groep tweemaal de eerste
        prijs voor resp. Vrouwenkoor C en B. In het kader van het
        125-jarig bestaan van de N.S.G.V. leidde hij het Nationaal
        Jongerenkoor bij de totstandkoming van de CD "Om ontmoeting".
        Voor de stichting Unisono treedt hij op als gecommitteerde bij
        de Koristenopleiding. Tevens dirigeert hij vrouwenkoor Unlimited.
    </p>

    <p>
        Geïnteresseerd in de technische kant van de piano volgde hij
        vanaf 1995 de opleiding voor pianotechniek in Amsterdam en
        slaagde in 1997 voor de titel Certified Pianotuner van de
        Vereniging Voor Pianotechnici Nederland. Sinds 2007 mag hij, na
        een vervolgopleiding, de titel Gezel voeren. Hij is werkzaam als
        zelfstandig stemmer en technieker.
    </p>

    <p>
        <a href="http://www.robholleman.nl" target="_blank">www.robholleman.nl</a>.
    </p>

    <h4 id="bestuur">Bestuur en taken</h4>

    <table>
        <tr>
            <td style="width:150px;">Voorzitter</td>
            <td>Nelleke Teuling</td>
        </tr>
        <tr>
            <td>Secretaris</td>
            <td>Anouk Kits</td>
        </tr>
        <tr>
            <td>Penningmeester</td>
            <td>Tony Dorresteijn</td>
        </tr>
    </table>

    <h4 id="repetities">De repetities</h4>

    <p>
        Vrouwenkoor Unlimited repeteert iedere woensdag (behalve in de
        schoolvakanties) van 20.00 uur tot 22.00 uur in het gebouw van
        basisschool Wereldwijs te Guldenslag 131 in Houten.
        Tussendoor hebben we een kwartier pauze.
        Door de koorleden wordt voor koffie en thee gezorgd volgens een rooster.
        Je dient zelf te zorgen voor een mok of beker.
    </p>

    <h4 id="inzingen">Inzingen</h4>

    <p>
        De technische kant van het zingen krijgt bij Vrouwenkoor
        Unlimited veel aandacht door oefeningen in stemgebruik,
        articulatie en ademhalingstechniek. Het eerste kwartier van de
        repetities wordt hieraan besteed, zodat je stem al lekker soepel
        is voordat je gaat zingen.
    </p>

    <h4 id="repetoire">Repertoire</h4>

    <p>
        Vrouwenkoor Unlimited zingt voornamelijk meerstemmig. Het koor
        wil haar naam eer aandoen en besteedt veel aandacht aan het
        opbouwen van een breed repertoire. In ons repertoire komen
        liederen voor in het Frans, Duits, Nederlands, Latijn, Engels,
        Hongaars en Italiaans. De muziekstijl is divers en laat zich
        lastig omschrijven. Het is soms vrolijk, soms melancholisch.
        Soms eigentijds dan weer uit voorgaande eeuwen en voornamelijk
        licht klassiek. Meestal zingen we wereldlijke muziek, een enkele
        keer kerkelijke muziek. De uitdaging van zingen in ons koor
        bestaat uit het naar elkaar luisteren, tegelijkertijd je eigen
        partij zingen en letten op de aanwijzingen van de dirigent.
    </p>

    <h4 id="optredens">Optredens</h4>

    <p>
        Vrouwenkoor Unlimited streeft ernaar om minstens een keer per
        jaar op te treden in Houten of omgeving. Verder proberen wij aan
        te sluiten bij diverse bestaande projecten. In de afgelopen jaren
        hebben we onze medewerking verleend aan:<br>
        &bull; Country en Christmas-fair, De Haar<br>
        &bull; Kerst met koren in Houten<br>
        &bull; Vreeswijk bij Kaarslicht<br>
        &bull; Opening Yo!-festival te Utrecht<br>
        &bull; Chapeau voor Buren<br>
        &bull; Kerstsamenzang Jacobikerk te Utrecht<br>
        Bij gelegenheid wordt ook deelgenomen aan korenfestivals of
        workshops.
    </p>

{% endblock %}
