{% extends "base.html" %}

{% block title %}{{ block.super }} : Lidmaatschap{% endblock %}

{% block body %}

    <h2>Lidmaatschap</h2>
    <br><img class="line" src="{% static '/static/images/line_blue.png' %}" alt="" height="1" width="90%" /><br>
    <b>Index:</b><br>
    » <a href="#lid">Lid worden</a><br>
    » <a href="#aanmelden">Aanmelden</a><br>
    » <a href="#stemtest">Stemtest</a><br>
    » <a href="#opzeggen">Opzeggen</a><br>
    <br><img class="line" src="{% static '/static/images/line_blue.png' %}" alt="" height="1" width="90%" /><br>

    <p><a name="lid" id="lid"><b>Lid worden</b></a>
    <br>
    Unlimited staat open voor vrouwen van 18 jaar en ouder. Het
    lidmaatschap bedraagt &euro; 55,- per kwartaal. Het bedrag
    wordt via automatische incasso van je rekening afgeschreven
    per 1 januari, 1 april, 1 juli en 1 oktober.</p>

    <p><a name="aanmelden" id="aanmelden"><b>Aanmelden</b></a>
    <br>
    Je kunt je aanmelden bij:<br>
    &bull; Nelleke Teuling (tel: 030-6350038)<br>
    Bij ons koor krijg je de gelegenheid om drie keer mee te
    zingen. Je krijgt zo een goed beeld van wat een repetitie
    precies inhoudt. Als je besluit om lid te worden, krijg je
    een inschrijfformulier dat je invult en weer inlevert met
    een pasfoto. Je ondertekent tevens de machtigingskaart om
    de contributie per kwartaal van je rekening te laten
    schrijven. Je krijgt dan ook de map uitgereikt die gebruikt
    wordt bij de uitvoeringen en een blad met de
    pasfoto&rsquo;s van de overige koorleden, zodat je wat
    sneller weet welk gezicht bij welke naam hoort. Bovendien
    krijg je de adressenlijst, telefooncirkel en het
    huishoudelijk reglement.</p>

    <p><a name="stemtest" id="stemtest"><b>Stemtest</b></a>
    <br>
    Als je na drie repetities besluit om je aan te melden als
    koorlid, volgt er een stemtest. Tijdens deze test bekijkt
    de dirigent, bijgestaan door een bestuurslid, of je
    stemvast bent en bij welke stemgroep je het best past. De
    onderdelen die aan de orde komen zijn onder anderen het
    nazingen van een melodie en in canon zingen. Bovendien
    wordt bekeken wat je stembereik is door via toonladders
    vanaf laag naar zo hoog mogelijk te zingen. Kennis van het
    notenschrift is niet vereist, maar het is natuurlijk wel
    makkelijk als je van blad kunt zingen.</p>

    <p><a name="opzeggen" id="opzeggen"><b>Opzeggen</b></a>
    <br>
    Het opzeggen van het lidmaatschap dient schriftelijk te
    geschieden bij de ledenadministratie per de eerste van de
    maand. Een uittredend lid is contributie verschuldigd tot
    een maand na de opzegging.</p>

{% endblock %}
