{% extends "base.html" %}

{% block title %}{{ block.super }} : Lidmaatschap{% endblock %}

{% block body %}

    <h2>Lidmaatschap</h2>

    <br><img class="line" src="{% static '/static/images/line_blue.png' %}" alt="" height="1" width="620" /><br>

    <b>Index:</b><br>
    » <a href="#lid">Lid worden</a><br>
    » <a href="#aanmelden">Aanmelden</a><br>
    » <a href="#stemtest">Stemtest</a><br>
    » <a href="#opzeggen">Opzeggen</a><br>
    <br>

    <img class="line" src="{% static '/static/images/line_blue.png' %}" alt="" height="1" width="620" /><br>

    <h4 id="lid">Lid worden</h4>

    <p>
        Unlimited staat open voor vrouwen van 18 jaar en ouder. Het
        lidmaatschap bedraagt €60,00 per kwartaal. Het bedrag
        wordt via automatische incasso van je rekening afgeschreven
        per 1 januari, 1 april, 1 juli en 1 oktober.
    </p>

    <h4 id="aanmelden">Aanmelden</h4>

    <p>
        Je kunt je aanmelden bij:<br>
        &bull; Nelleke Teuling (tel: 06-23061695)<br>
        Bij ons koor krijg je de gelegenheid om drie keer mee te
        zingen. Je krijgt zo een goed beeld van wat een repetitie
        precies inhoudt. Als je besluit om lid te worden, krijg je
        een inschrijfformulier dat je invult en weer inlevert met
        een pasfoto. Je ondertekent tevens de machtigingskaart om
        de contributie per kwartaal van je rekening te laten
        schrijven. <br>
        We mailen je een "smoelenboek" met de foto's van de koorleden, 
        zodat je snel weet welk gezicht bij welke naam hoort. <br>
        Bovendien krijg je de adressenlijst, telefooncirkel en het
        huishoudelijk reglement. <br>
        Je krijgt een map uitgereikt die gebruikt
        wordt bij de uitvoeringen.
    </p>

    <h4 id="stemtest"><b>Stemtest</b></h4>

    <p>
        Als je na drie repetities besluit om je aan te melden als
        koorlid, volgt er een stemtest. Tijdens deze test bekijkt
        de dirigent, bijgestaan door een bestuurslid, of je
        stemvast bent en bij welke stemgroep je het best past. De
        onderdelen die aan de orde komen zijn onder anderen het
        nazingen van een melodie en in canon zingen. Bovendien
        wordt bekeken wat je stembereik is door via toonladders
        vanaf laag naar zo hoog mogelijk te zingen. Kennis van het
        notenschrift is niet vereist, maar het is natuurlijk wel
        makkelijk als je van blad kunt zingen.
    </p>

    <h4 id="opzeggen">Opzeggen</h4>

    <p>
        Het opzeggen van het lidmaatschap dient schriftelijk te
        geschieden bij de ledenadministratie per de eerste van de
        maand. Een uittredend lid is contributie verschuldigd tot
        een maand na de opzegging.
    </p>

{% endblock %}
