{% extends "base.html" %}

{% block title %}{{ block.super }} : Praktische zaken{% endblock %}

{% block body %}
    <h2>Praktische zaken</h2>

    <br><img class="line" src="{% static '/static/images/line_blue.png' %}" alt="" height="1" width="620" /><br>

    <b>Index:</b><br>
    » <a href="#afmelden">Afmelden</a><br>
    » <a href="#foto">Namenlijst met foto's</a><br>
    » <a href="#kleding">Koorkleding bij optredens</a><br>
    » <a href="#nieuws">Nieuwsbrief</a><br>
    » <a href="#telefoon">Telefooncirkel</a><br>

    <br><img class="line" src="{% static '/static/images/line_blue.png' %}" alt="" height="1" width="620" /><br>

    <h4 id="afmelden">Afmelden</h4>

    <p>
        In een koor zingen is teamwork. Wij verwachten dan ook dat
        je zoveel mogelijk aanwezig bent. Bedenk wel dat als je een
        keer afzegt en er worden nieuwe liederen ingestudeerd, je
        zelf initiatief moet tonen om de achterstand in te halen.
        Het is niet de bedoeling dat andere koorleden nadeel
        ondervinden van jouw afwezigheid.<br><br>
        Afmelden kan telefonisch op de woensdag of per e-mail voor
        19.00 uur bij: Nelleke Teuling<br>
    </p>

    <h4 id="foto">Namenlijst met foto's</h4>

    <p>
        Voor elk koorlid is een lijst beschikbaar met de namen van
        de koorleden voorzien van een pasfoto. Als je nieuw bent op
        ons koor, maakt dat het wat makkelijker om een naam aan een
        gezicht te koppelen. Je hoeft dan niet steeds de naam te
        vragen van degene waarmee je in gesprek bent. Via de
        zogenaamde &lsquo;smoelenlijst&rsquo; ben je er dan snel
        achter met wie je in gesprek bent.
    </p>

    <h4 id="kleding">Koorkleding bij optredens</h4>

    <p>
        Tijdens uitvoeringen zijn we meestal in het zwart gekleed.
        We hebben geen speciale koorkleding, dus je kunt zelf
        kiezen welke zwarte kleding jij wilt dragen. Om het geheel
        op te vrolijken, kiezen we altijd voor accessoires in een
        accentkleur. Je kunt hierbij denken aan een shawl, horloge,
        ketting, oorbellen en armbanden. Het koor stelt speciaal
        voor de optredens een multomap beschikbaar, waarvan de
        voorkant voorzien is van een plastic insteekhoes. In deze
        hoes komt een blad met het logo van het koor eveneens in de
        accentkleur die voor het optreden is gekozen.
    </p>

    <h4 id="nieuws">Nieuwsbrief</h4>

    <p>
        Ongeveer vijf keer per jaar verschijnt er een Nieuwsbrief.
        Deze wordt zoveel mogelijk verspreid per e-mail. Hierin
        wordt de programmering voor de optredens doorgegeven, een
        agenda, huishoudelijke mededelingen, nieuwe en vertrekkende
        leden en extra activiteiten.
    </p>

    <h4 id="telefoon">Telefooncirkel</h4>

    <p>
        Als de repetitie op het laatste moment niet door kan gaan,
        wordt er gebruik gemaakt van een telefooncirkel, zodat
        iedereen tijdig op de hoogte is.
    </p>

{% endblock %}
