{% extends "base.html" %}

{% block title %}{{ block.super }} : Repertoire{% endblock %}

{% block body %}
    <h2>Muziek die UNLIMITED zingt</h2>
	<p>Dit is een overzicht van ons huidige repertoire.</p>
	
	<ul>
		<li>Benjamin Britten
			<ul><li>Begone, dull care!
			</li><li>The useful plough
			</li><li>Fishing song</li></ul>
		</li>
		<li>Bob Chilcott
			<ul><li>The Lily and The Rose</li></ul>
		</li>
		<li>Marcel Corneloup
			<ul><li>Si doucement</li></ul>
		</li>
		<li>Edward Elgar
			<ul><li>As Torrents in Summer
			</li><li>My love dwelt in a northern Land</li></ul>
		</li>
		<li>Michael Head
			<ul><li>The Ships of Arcady</li></ul>
		</li>
		<li>Gustav Holst
			<ul><li>Soft and Gently</li></ul>
		</li>
		<li>Wolfgang Amadeus Mozart
			<ul><li>Luci care, Luci belle</li></ul>
		</li>
		<li>Saundra Berry Musser
			<ul><li>Barbershop Blues</li></ul>
		</li>
		<li>Jean-Philippe Rameau
			<ul><li>Hymne à la Nuit</li></ul>
		</li>
		<li>Aulis Sallinen
			<ul><li>Sea Danger
			</li><li>Ballad</li></ul>
		 </li>
		<li>Melchior Schaerer
			<ul><li>Herzlich tut mich erfreuen</li></ul>
		</li>
		<li>Audrey Snyder
			<ul><li>The Tapestry</li></ul>
		</li>
		<li>Arthur Sullivan
			<ul><li>The long Day closes</li></ul>
		</li>
		<li>Ralph Vaughan Williams
			<ul><li>Linden Lea</li></ul>
		</li>
		<li>Traditional
			<ul><li>Scarborough Fair</li></ul>
        </li>
        <li>Franz Liszt
			<ul><li>Hymne de l'enfant à son reveil</li></ul>
		</li>
        <li>Franz Schubert
			<ul><li>Ständchen</li></ul>
		</li>
        <li>Anton Arensky
			<ul><li>Flower garden</li></ul>
		</li>
        <li>Gabriel Fauré
			<ul><li>Cantique de Jean Racine</li></ul>
	    </li>
        <li>Vincent d'Indy
			<ul><li>Sainte Marie Magdalène</li></ul>
	</ul>
{% endblock %}
