{% extends "base.html" %}

{% block title %}{{ block.super }} : Repertoire{% endblock %}

{% block body %}
    <h2>Muziek die UNLIMITED zingt</h2>
	<p>Dit is een overzicht van ons huidige repertoire.</p>
	
	<ul>
		<li>Benjamin Britten</li>
			<ul><li>Begone, dull care!
			</li><li>The useful plough
			</li><li>Fishing song</li></ul>
		
		<li>Bob Chilcott</li>
			<ul><li>The Lily and The Rose</li></ul>
		
		<li>Marcel Corneloup</li>
			<ul><li>Si doucement</li></ul>
		
		<li>Edward Elgar</li>
			<ul><li>As Torrents in Summer
			</li><li>My love dwelt in a northern Land</li></ul>
		
		<li>Michael Head</li>
			<ul><li>The Ships of Arcady</li></ul>
		
		<li>Gustav Holst</li>
			<ul><li>Soft and Gently</li></ul>
		
		<li>Wolfgang Amadeus Mozart
			<ul><li>Luci care, Luci belle</li></ul>
		
		<li>Saundra Berry Musser</li>
			<ul><li>Barbershop Blues</li></ul>
		
		<li>Jean-Philippe Rameau</li>
			<ul><li>Hymne à la Nuit</li></ul>
		
		<li>Aulis Sallinen</li>
			<ul><li>Sea Danger
			</li><li>Ballad</li></ul>
		 
		<li>Melchior Schaerer</li>
			<ul><li>Herzlich tut mich erfreuen</li></ul>
		
		<li>Audrey Snyder</li>
			<ul><li>The Tapestry</li></ul>
		
		<li>Arthur Sullivan</li>
			<ul><li>The long Day closes</li></ul>
		
		<li>Ralph Vaughan Williams</li>
			<ul><li>Linden Lea</li></ul>
		
		<li>Traditional</li>
			<ul><li>Scarborough Fair</li></ul>
	</ul>
{% endblock %}
