{% extends "base.html" %}

{% block title %}{{ block.super }} : Uitvoeringen{% endblock %}

{% block body %}
   <h2>Geplande uitvoeringen</h2>

<!--
    <div class="album-description">
	    <p>Momenteel geen uitvoeringen gepland</p>
    </div>
-->

    <div class="album-wrapper">

        <div style="background-color: #273C61; color: white; font-size: 120%; border-radius: 10px; width:76%; padding:15px; margin-bottom:25px;">
        <img src="{% static '/images_uitvoeringen/160523.jpg' %}"
             alt="poster" width="210" height="140" />
        <p>
            Wij willen je uitnodigen voor ons concert op zaterdagmiddag 23 april 15:00 uur in<a
            href="http://www.pknodijk.nl/index.php" target="_blank">"het Witte
            Kerkje"</a> <br>
            Zeisterweg 34 in Odijk.
        <p>   
            CHANSONS D'UN REVE, liederen uit de Romantiek.
        <p>   
                 Programma:<br>
                 <li>Liszt: Hymne de l’enfant á son reveil<br>
                 <li>Schubert: Ständchen<br>				            
                 <li>Intermezzo op piano en harmonium<br>
        <p> 
            Pauze
        <p> 
                <li>Arensky: Flower garden<br>	           		 	
                <li>Fauré: Cantique de Jean Racine<br>        
                <li>d’Indy: Sainte Marie Magdalène 		        
        <p>   
            Medewerkenden:<br>
            Vrouwenkoor Unlimited o.l.v. Rob Holleman<br>
            Inge Schultinga, mezzo sopraan<br>
            Erik-Jan Eradus, harmonium<br>
            Jolanda Aarts, piano en celesta<br>
            Rob Holleman, harmonium<br>
        <p>   
            Tussen de liederen worden passende gedichten gelezen door<br> 
            Serena van de Langenberg, voordrachtskunstenaar 
        </p>

    </div>

{% endblock %}
