{% extends "base.html" %}

{% block title %}{{ block.super }} : Uitvoeringen{% endblock %}

{% block body %}
   <h2>Geplande uitvoeringen</h2>

<!--    <div class="album-description">
    <p>Momenteel geen uitvoeringen gepland</p>
    </div> -->
    <div class="album-wrapper">
        <div class="thumbnail-wrap">
            <div class="thumbnail-frame">
                <a href="http://www.weekvanhethospice.nl/woensdag-24-september-korenfestival">
                    <img src="{% static '/images_uitvoeringen/140924.jpg' %}" alt="poster" width="230" height="150" />
                    <p class="thumbnail-caption">
                        Week van het Hospice<br />
                        24 september 2014, 20.00 uur<br />
                        Opstandingskerk, Het Kant 1, Houten
                    </p>
                </a>
            </div>
        </div>

        <div class="thumbnail-wrap">
            <div class="thumbnail-frame">
                <a href="http://www.cultuuraandeslinger.nl/projecten/4188/korenfestival-2014/">
                    <img src="{% static '/images_uitvoeringen/141108.jpg' %}" alt="poster" width="151" height="253" />
                    <p class="thumbnail-caption">
                        Korenfestival<br />
                        8 november 2014<br />
                        Theater Aan de Slinger, Houten
                    </p>
                </a>
            </div>
        </div>
    </div>    

{% endblock %}
