{% extends "base.html" %}

{% block title %}{{ block.super }} : Uitvoeringen{% endblock %}

{% block body %}
   <h2>Geplande uitvoeringen</h2>

<!--
    <div class="album-description">
	    <p>Momenteel geen uitvoeringen gepland</p>
    </div>
-->

    <div class="album-wrapper">

        <div class="thumbnail-wrap"><div class="thumbnail-frame">
            <a href="index.html">
                <img src="{% static '/images_uitvoeringen/161217.jpg' %}"
                     alt="poster" width="150" height="210" />
                <p class="thumbnail-caption">
                    Kerstconcert in samenwerking met "De Red Flowers"<br>
                    17 december 2016
                </p>
            </a>
        </div></div>

    </div>

{% endblock %}
