{% extends "base.html" %}

{% block title %}{{ block.super }} : 404{% endblock %}


{% block body %}
    <h2>Video's</h2>

    <br><br><h3>25 jaar Vrouwenkoor Unlimited</h3>
    <iframe width="640" height="360" src="http://www.youtube-nocookie.com/embed/ytuKPEw5788?rel=0&hd=1" frameborder="0" allowfullscreen></iframe>
    <br><br><h3>De Bonaventurakerk in Woerden - Hymne &agrave; la nuit</h3>
    <iframe width="640" height="360" src="http://www.youtube-nocookie.com/embed/9YPzWmtRIRg?rel=0&hd=1" frameborder="0" allowfullscreen></iframe>
    <br><br><h3>De Bonaventurakerk in Woerden - The Long Day Closes</h3>
    <iframe width="640" height="360" src="http://www.youtube-nocookie.com/embed/19fyarHXFn4?rel=0&hd=1" frameborder="0" allowfullscreen></iframe>
    <br><br><h3>Korenfestival voor het Hospice</h3>
    <iframe width="640" height="360" src="http://www.youtube-nocookie.com/embed/M63vZbh_u1c?rel=0&start=45&hd=1" frameborder="0" allowfullscreen></iframe>
    <br><br><h3>Houtens Lied Korenfestival</h3>
    <iframe width="640" height="360" src="http://www.youtube-nocookie.com/embed/ct_YiS_rrzo?rel=0&start=203&hd=1" frameborder="0" allowfullscreen></iframe>

{% endblock %}
